*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family :sans-serif;
}
body{
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}
.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
}
.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
.input-fields, .msg{
    width: 48%;
}
.input-fields .input, .msg textarea{
    margin: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
    transition: 0.25s;
}
textarea{
    height: 208px;
}
input[type="submit"]{
    background: #39b7;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    border: none;
}
input[type="text"]:focus{
    border-color: #39b;
}
textarea:focus{
    border-color: #39b;
}
input[type="submit"]:hover{
    background: #39b39b;
}
@media screen and (max-width: 600px){
    .contact-form{
        flex-direction: column;
    }
    textarea{
        height: 80px;
    }
    .input-fields, .msg{
        width: 100%;
    }
}