*{
    box-sizing: border-box;
}
body{
    background-color: #8C7DFC;
    font-size: 13px;
    color: #716D6E;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 250px;
    height: 236px;
}
.login{
    margin: 24px 20px;
}
.input-name{
    margin-top: 7px;
}
.input-name input{
    width: 100%;
    height: 33px;
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
}
.label-pswrd{
    margin-top: 15px;
}
.input-pswrd{
    margin-top: 7px;
}
.input-pswrd input{
    width: 100%;
    height: 33px;
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
}
.footer{
    display: flex;
    margin-top: 20px;
}
.checkbox{
    margin-left: -3px
}
.checkbox input{
    width: 19px;
    height: 19px;    
}
.checkbox-text{
    margin: 5px 0 0 5px;
}
.submit{
    margin: -4px 0 0 23px;
}
.submit button{
    border: none;
    background-color: #8C7DFC;
    border-radius: 3px;
    width: 80px;
    height: 31px;
}
.submit button:hover{
    color: white;
    cursor: pointer;
}
